.sidebar {
    background-color: #6F4E37;
    /* background-image: url("/images/cafe-musain.jpg"); */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.sidebar-id {
    list-style: disc;
}

.sidebar-about {
    margin-bottom: 60px
}

ul.sidebar-id li {
    margin-top: 5px;
}

@media (min-width: 48em) {
    .sidebar {
        width: 20rem;
    }
}

@media (min-width: 48em) {
  .sidebar-sticky-top {
    position: absolute;
    right:  1rem;
    top: 1rem;
    left:   1rem;
  }
}

@media (min-width: 48em) {
  .sidebar-sticky-bottom {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}
